---
# 系统基础配置和优化

- name: 安装必要的软件包
  apt:
    name:
      - curl
      - wget
      - vim
      - net-tools
      - telnet
      - htop
      - unzip
      - chrony
      - rsync
      - nfs-common
      - apt-transport-https
      - ca-certificates
      - gnupg
      - lsb-release
    state: present
    update_cache: yes
  when: ansible_facts['os_family'] == 'Debian'

- name: 安装必要的软件包 (CentOS/RHEL)
  yum:
    name:
      - curl
      - wget
      - vim
      - net-tools
      - telnet
      - htop
      - unzip
      - chrony
      - rsync
      - nfs-utils
      - yum-utils
      - device-mapper-persistent-data
      - lvm2
    state: present
    update_cache: yes
  when: ansible_facts['os_family'] == 'RedHat'

- name: 停止并禁用firewalld
  systemd:
    name: firewalld
    state: stopped
    enabled: no
  ignore_errors: yes
  when: ansible_facts['os_family'] == 'RedHat'

- name: 禁用SELinux
  selinux:
    state: disabled
  ignore_errors: yes
  when: ansible_facts['os_family'] == 'RedHat'

- name: 临时禁用SELinux
  command: setenforce 0
  ignore_errors: yes
  when: ansible_facts['os_family'] == 'RedHat'

- name: 关闭swap
  command: swapoff -a
  ignore_errors: yes

- name: 永久关闭swap
  lineinfile:
    path: /etc/fstab
    regexp: '^[^#].*swap'
    line: '#\g<0>'
    backrefs: yes

- name: 配置系统时间同步
  systemd:
    name: chronyd
    state: started
    enabled: yes

- name: 配置IPVS模块
  template:
    src: ipvs.modules.j2
    dest: /etc/modules-load.d/ipvs.modules
    mode: '0644'

- name: 加载IPVS模块
  shell: bash /etc/modules-load.d/ipvs.modules
  ignore_errors: yes

- name: 优化系统内核参数
  sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    reload: yes
  with_items:
    - { key: "net.ipv4.ip_forward", value: "1" }
    - { key: "net.bridge.bridge-nf-call-iptables", value: "1" }
    - { key: "net.bridge.bridge-nf-call-ip6tables", value: "1" }
    - { key: "net.ipv4.tcp_max_syn_backlog", value: "65536" }
    - { key: "net.core.somaxconn", value: "65536" }
    - { key: "net.core.netdev_max_backlog", value: "65536" }
    - { key: "net.ipv4.tcp_keepalive_time", value: "600" }
    - { key: "net.ipv4.tcp_keepalive_probes", value: "3" }
    - { key: "net.ipv4.tcp_keepalive_intvl", value: "15" }
    - { key: "net.ipv4.tcp_retries2", value: "5" }
    - { key: "net.ipv4.tcp_fin_timeout", value: "30" }
    - { key: "fs.inotify.max_user_watches", value: "1048576" }
    - { key: "fs.inotify.max_user_instances", value: "1024" }

- name: 创建/etc/hosts.temp文件
  copy:
    src: /etc/hosts
    dest: /etc/hosts.temp
    remote_src: yes

- name: 清理/etc/hosts.temp文件中的localhost相关条目
  lineinfile:
    path: /etc/hosts.temp
    regexp: '^127\.0\.0\.1.*'
    state: absent

- name: 清理/etc/hosts.temp文件中的::1相关条目
  lineinfile:
    path: /etc/hosts.temp
    regexp: '^::1.*'
    state: absent

- name: 获取当前主机的IPv4地址
  command: hostname -I
  register: hostname_ip
  ignore_errors: yes

- name: 获取当前主机名
  command: hostname
  register: current_hostname
  ignore_errors: yes

- name: 向/etc/hosts.temp文件添加当前主机的IPv4地址和主机名
  lineinfile:
    path: /etc/hosts.temp
    line: '{{ hostname_ip.stdout.split(" ")[0] }} {{ current_hostname.stdout }}'
    state: present
  when: hostname_ip.stdout and current_hostname.stdout

- name: 向/etc/hosts.temp文件添加127.0.0.1 localhost
  lineinfile:
    path: /etc/hosts.temp
    line: '127.0.0.1 localhost'
    state: present

- name: 向/etc/hosts.temp文件添加::1 localhost ipv6-localhost ipv6-loopback
  lineinfile:
    path: /etc/hosts.temp
    line: '::1 localhost ipv6-localhost ipv6-loopback'
    state: present

- name: 备份原始/etc/hosts文件
  copy:
    src: /etc/hosts
    dest: /etc/hosts.bak
    remote_src: yes
    backup: yes

- name: 用处理后的/etc/hosts.temp文件替换/etc/hosts文件
  copy:
    src: /etc/hosts.temp
    dest: /etc/hosts
    remote_src: yes

- name: 删除临时文件/etc/hosts.temp
  file:
    path: /etc/hosts.temp
    state: absent

- name: 清理临时文件和缓存
  shell: |
    apt clean all && apt autoclean all || true
    yum clean all || true
  ignore_errors: yes
